.event__main-box {
  width: 20vw;

  position: fixed;
  right: 2vw;
  bottom: 2vw;

  padding: 2.5rem;

  border-radius: 0.8rem;
  background: var(--bg-gray);
  border: 0.1rem solid var(--ligth-gray);

  .forwarder-button {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    padding: 1.5rem;

    font-weight: 600;
    font-size: var(--font-large);
    color: var(--white);
    text-decoration: none;

    background: var(--dark-blue);
    border-radius: 0.8rem;

    cursor: pointer;

    &:disabled {
      background: var(--gray);

      cursor: not-allowed;
    }
  }

  @media only screen and (max-width: 720px) {
    width: 85%;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}
